# Virtualenv
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

node_modules

### CDK-specific ignores ###
*.swp
cdk.context.json
package-lock.json
yarn.lock
.cdk.staging
cdk.out